<template>
  <div class="text social-auth" v-if="social.show">
    {{ title }}
    <div class="social-auth__icons">
      <div class="auth-with-social vk" v-if="social.vk">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 304.36 304.36">
          <path d="M261.945 175.576c10.096 9.857 20.752 19.131 29.807 29.982 4 4.822 7.787 9.798 10.684 15.394 4.105 7.955.387 16.709-6.746 17.184l-44.34-.02c-11.436.949-20.559-3.655-28.23-11.474-6.139-6.253-11.824-12.908-17.727-19.372-2.42-2.642-4.953-5.128-7.979-7.093-6.053-3.929-11.307-2.726-14.766 3.587-3.523 6.421-4.322 13.531-4.668 20.687-.475 10.441-3.631 13.186-14.119 13.664-22.414 1.057-43.686-2.334-63.447-13.641-17.422-9.968-30.932-24.04-42.691-39.971-22.895-31.021-40.428-65.108-56.186-100.15C-2.01 76.458.584 72.22 9.295 72.07c14.465-.281 28.928-.261 43.41-.02 5.879.086 9.771 3.458 12.041 9.012 7.826 19.243 17.402 37.551 29.422 54.521 3.201 4.518 6.465 9.036 11.113 12.216 5.142 3.521 9.057 2.354 11.476-3.374 1.535-3.632 2.207-7.544 2.553-11.434 1.146-13.383 1.297-26.743-.713-40.079-1.234-8.323-5.922-13.711-14.227-15.286-4.238-.803-3.607-2.38-1.555-4.799 3.564-4.172 6.916-6.769 13.598-6.769h50.111c7.889 1.557 9.641 5.101 10.721 13.039l.043 55.663c-.086 3.073 1.535 12.192 7.07 14.226 4.43 1.448 7.35-2.096 10.008-4.905 11.998-12.734 20.561-27.783 28.211-43.366 3.395-6.852 6.314-13.968 9.143-21.078 2.096-5.276 5.385-7.872 11.328-7.757l48.229.043c1.43 0 2.877.021 4.262.258 8.127 1.385 10.354 4.881 7.844 12.817-3.955 12.451-11.65 22.827-19.174 33.251-8.043 11.129-16.645 21.877-24.621 33.072-7.328 10.223-6.746 15.376 2.357 24.255zm0 0"
                fill-rule="evenodd" clip-rule="evenodd"/>
        </svg>
      </div>
      <div class="auth-with-social facebook" v-if="social.facebook">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 310">
          <path d="M81.703 165.106h33.981V305c0 2.762 2.238 5 5 5H178.3c2.762 0 5-2.238 5-5V165.765h39.064c2.54 0 4.677-1.906 4.967-4.429l5.933-51.502c.163-1.417-.286-2.836-1.234-3.899-.949-1.064-2.307-1.673-3.732-1.673h-44.996V71.978c0-9.732 5.24-14.667 15.576-14.667h29.42c2.762 0 5-2.239 5-5V5.037c0-2.762-2.238-5-5-5h-40.545c-.286-.014-.921-.037-1.857-.037-7.035 0-31.488 1.381-50.804 19.151-21.402 19.692-18.427 43.27-17.716 47.358v37.752H81.703c-2.762 0-5 2.238-5 5v50.844c0 2.762 2.238 5.001 5 5.001z"/>
        </svg>
      </div>
      <div class="auth-with-social telegram" v-if="social.telegram">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
          <path d="M5.299 144.645l69.126 25.8 26.756 86.047c1.712 5.511 8.451 7.548 12.924 3.891l38.532-31.412c4.039-3.291 9.792-3.455 14.013-.391l69.498 50.457c4.785 3.478 11.564.856 12.764-4.926L299.823 29.22c1.31-6.316-4.896-11.585-10.91-9.259L5.218 129.402c-7.001 2.7-6.94 12.612.081 15.243zm91.57 12.066l135.098-83.207c2.428-1.491 4.926 1.792 2.841 3.726L123.313 180.87c-3.919 3.648-6.447 8.53-7.163 13.829l-3.798 28.146c-.503 3.758-5.782 4.131-6.819.494l-14.607-51.325c-1.673-5.854.765-12.107 5.943-15.303z"/>
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
import { GETTER_SOCIAL } from '@/store';

export default {
  name: 'social-auth',
  props: {
    title: String,
  },
  computed: {
    social() {
      return this.$store.getters[GETTER_SOCIAL];
    }
  }
};

</script>

<style lang="less" scoped>
.text {
  &.social-auth {
    background-color: #f2f2f2;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .social-auth__icons {
      display: flex;
      flex-direction: row;

      .auth-with-social {
        margin: 1rem 0.5rem 0;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        cursor: pointer;

        fill: #FFFFFF;
        display: flex;
        justify-content: center;

        &.vk, &.facebook, &.telegram {
          background-color: #587ea3;

          &:hover {
            opacity: .8;
          }

          svg {
            width: 24px;
          }
        }

        &.vk {
          background-color: #587ea3;
        }

        &.facebook {
          background-color: #3b5998;
        }

        &.telegram {
          background-color: #2fa6dd;
        }
      }
    }
  }
}
</style>
