<template>
  <div class="custom-loader">
    <div class="loader-logo">
      <span class="item"></span>
      <span class="item"></span>
      <span class="item"></span>
      <span class="item"></span>
      <span class="item"></span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'c-loader',
};

</script>
