<template>
  <div class="c-checkbox">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <div class="c-checkbox__content" v-on="inputListeners">
        <label>
          <span v-if="checked">
            <svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M17.0625 0L6 10.9938L0.9375 5.96273L0 6.89441L6 12.8571L18 0.931677L17.0625 0Z" fill="#27AE60"/>
            </svg>
          </span>
        </label>
        <span>
        <slot name="label"></slot>
        </span>
      </div>
      <slot name="link"></slot>
    </div>
    <div class="c-checkbox__bottom">
      <div class="left">
        <span v-if="!errorMessage" class="c-checkbox__description">
          <slot name="description"/>
        </span>
        <span v-if="errorMessage" class="c-checkbox__error">
          <slot name="error">{{ errorMessage }}</slot>
        </span>
      </div>
      <div class="right">
        <slot name="action"/>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'c-checkbox',
  props: {
    value: Boolean,
    errorMessage: String,
    label: String,
  },
  data() {
    return {
      subErrorShow: true,
    };
  },
  computed: {
    checked() {
      return this.value;
    },
    inputListeners() {
      const vm = this;

      return Object.assign(
        {},
        this.$listeners,
        {
          click(event) {
            vm.$emit('click', event);
            vm.$emit('input', !vm.value);
          },
          input(event) {
            vm.$emit('input', event.target.value === 'on');
          },
          change(event) {
            vm.emit('change', event.target.checked);
          },
          focus(event) {
            vm.focused = true;

            vm.$emit('focus', event);
          },
          blur(event) {
            vm.focused = false;

            console.log('blur');
            vm.$emit('blur', event);
          },
        },
      );
    },
  },
};

</script>

<style lang="less" scoped>
.c-checkbox {
  outline: none;

  .c-checkbox__error {
    color: #EB5757;
    font-family: proxima_nova_ltlight, Verdana, helvetica, sans-serif;
    font-size: 13px;
  }

  &.error {
    .c-checkbox__bottom {
      .left {
        .c-checkbox__error {
          display: block;
        }
      }
    }
  }

  .c-checkbox__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;

    .left {
      .c-checkbox__error, .c-checkbox__description {
        font-family: proxima_nova_ltlight, Verdana, helvetica, sans-serif;
      }

      .c-checkbox__description {
        display: flex;
        justify-content: space-between;
        color: #999;
      }

      .c-checkbox__error {
        display: none;
        color: #EB5757;
      }
    }
  }

  .c-checkbox__content {
    outline: none;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    > span {
      display: inline-block;
    }
    > label {
      text-align: center;
      flex: none;
      background-color: inherit;
      border-radius: 5px;
      border: 1px solid;
      border-color: #4d4d4d;
      height: 15px;
      width: 15px;
      margin-right: 10px;
      overflow: hidden;

      span {
        svg {
          width: 10px;
          height: 100%;
          path {
            stroke: black;
            fill: black;
          }
        }
      }
    }
  }
}
</style>
