.c-input {
  width: 100%;

  .c-input__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 13px;

    .left {
      .c-input__error, .c-input__description {
        font-family: proxima_nova_ltlight, Verdana, helvetica, sans-serif;
      }

      .c-input__description {
        display: flex;
        justify-content: space-between;
        color: #999;
      }

      .c-input__error {
        display: none;
        color: #EB5757;
      }
    }
  }

  &.icon-has-phone {
    .c-input__field {
      &::before {
        background-image: url(../../../src/assets/images/phone.svg);
      }
    }
  }

  &.icon-has-name {
    .c-input__field {
      &::before {
        background-image: url(../../../src/assets/images/name.svg);
      }
    }
  }

  &.icon-has-surname {
    .c-input__field {
      &::before {
        background-image: url(../../../src/assets/images/surname.svg);
      }
    }
  }

  &.icon-has-email {
    .c-input__field {
      &::before {
        background-image: url(../../../src/assets/images/email.svg);
      }
    }
  }

  &.icon-has-promo {
    .c-input__field {
      &::before {
        background-image: url(../../../src/assets/images/promo.svg);
      }
    }
  }

  &.small {
    .c-input__bottom {
      margin-top: 5px;
    }

    .c-input__field {
      height: auto;

      span {
        display: none;
      }

      input {
        font-size: 14px;
        margin-left: 25px;

        &::placeholder {
          color: rgba(0, 0, 0, 0.60);
        }
      }

      &:after {
        right: 12px;
      }

      &::before {
        content: '';
        position: absolute;
          left: 10px;
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        background-size: 18px;
      }
    }

    .c-input__description {
      display: none;
    }
  }

  .c-input__field {
    height: 45px;
    margin: 0;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

    background-color: #f2f2f2;
    border-radius: 2px;
    border: #f2f2f2 1px solid;

    -webkit-transition: 0.3s ease border-color, 0.3s ease background-color;
    -moz-transition: 0.3s ease border-color, 0.3s ease background-color;
    -ms-transition: 0.3s ease border-color, 0.3s ease background-color;
    -o-transition: 0.3s ease border-color, 0.3s ease background-color;
    transition: 0.3s ease border-color, 0.3s ease background-color;

    &::after {
      content: '';
      display: block;
      position: absolute;

      right: 20px;
      opacity: 0;

      top: 50%;

      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }


    &:not([readonly]):hover {
      border-color: #999;
    }

    &.hide-placeholder {
      background-color: #fff;

      span {
        -webkit-transform: translateY(0) scale(0.8);
        -moz-transform: translateY(0) scale(0.8);
        -ms-transform: translateY(0) scale(0.8);
        -o-transform: translateY(0) scale(0.8);
        transform: translateY(0) scale(0.8);
      }
    }

    input {
      border: none;
      outline: none;
      margin: 0;
      padding: 0;
      font-size: 18px;
      background-color: transparent;
      line-height: 20px;
      -webkit-appearance: none;

      &::placeholder {
        color: #f2f2f2;
      }
    }

    span {
      pointer-events: none;
      color: #797979;
      font-size: 18px;

      -webkit-transform: translateY(90%);
      -moz-transform: translateY(90%);
      -ms-transform: translateY(90%);
      -o-transform: translateY(90%);
      transform: translateY(90%);

      -webkit-transition: 0.3s ease transform;
      -moz-transition: 0.3s ease transform;
      -ms-transition: 0.3s ease transform;
      -o-transition: 0.3s ease transform;
      transition: 0.3s ease transform;

      -webkit-transform-origin: 0% 40%;
      -moz-transform-origin: 0% 40%;
      -ms-transform-origin: 0% 40%;
      -o-transform-origin: 0% 40%;
      transform-origin: 0% 40%;

      will-change: transform;

      &.c-input__field_placeholder {
        text-align: left;
      }
    }
  }

  &.success, &.error {
    .c-input__field {
      input {
        margin-right: 40px;
      }
    }
  }

  &.success {
    .c-input__field {
      &:after {
        height: 13px;
        width: 18px;
        opacity: 1;
        background: url(../../../src/assets/images/success.svg) no-repeat 0 0;
      }
    }
  }

  &.error {
    .c-input__field {
      border-color: #EB5757;

      &:hover {
        border-color: #EB5757;
      }

      &:after {
        height: 18px;
        width: 18px;
        opacity: 1;
        background: url(../../../src/assets/images/error.svg) no-repeat 0 0;
      }
    }

    .c-input__bottom {
      .left {
        .c-input__error {
          display: block;;
        }
      }
    }
  }
}