<template>
  <div class="c-input">
    <div @click.self="focusMethod()"
         class="c-input__field"
         :readonly="readonly"
         :class="{'hide-placeholder': hidePlaceholder}">
      <span class="c-input__field_placeholder">{{ placeholder }}</span>
      <input :readonly="readonly" v-if="type === 'tel'"
             type="tel" :style="readonlyFix"
             ref="input"
             :placeholder="placeholder"
             :disabled="disabled"
             :value="value"
             v-on="inputListeners"/>
      <input :readonly="readonly" v-if="type === 'code'"
             type="tel"
             ref="input"
             placeholder="••••"
             :disabled="disabled"
             :value="value"
             v-on="inputListeners"/>
      <input :readonly="readonly" v-if="type === 'text'"
             type="text"
             ref="input"
             :disabled="disabled"
             :placeholder="placeholder"
             :value="value"
             v-on="inputListeners"/>
      <input :readonly="readonly" v-if="type === 'email'"
             type="email"
             ref="input"
             :disabled="disabled"
             :placeholder="placeholder"
             :value="value"
             v-on="inputListeners"/>
    </div>
    <div class="c-input__bottom">
      <div class="left">
        <span v-if="!errorMessage" class="c-input__description">
          <slot name="description"/>
        </span>
        <span v-if="errorMessage" class="c-input__error">
          <slot name="error">{{ errorMessage }}</slot>
        </span>
      </div>
      <div class="right">
        <slot name="action"/>
      </div>
    </div>
  </div>
</template>

<script src="./input.js"></script>
<style lang="less" src="./input.less"></style>
