<template>
  <div class="column__content">
    <p class="subtitle" v-html="$t('qr-link.windows-mobile-os.get-e-card')"></p>
    <div class="card-getting">
      <div class="text" v-html="$t('qr-link.windows-mobile-os.for-install')"></div>
      <div class="button-link">
        <a href="#" @click.prevent="next" class="icon">
          <img :src="require('@/assets/images/windows-wallet-pass.svg')" alt="Wallet Pass">
        </a>
      </div>

      <div class="text margin-bottom" v-html="$t('qr-link.windows-mobile-os.after-install')"></div>

      <c-button @click="next">{{ $t('qr-link.windows-mobile-os.install') }}</c-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'windows-mobile-os',
  methods: {
    next() {
      this.$emit('next');
    },
  },
}

</script>

<style lang="less" scoped>
.column__content {
  .button {
    padding: 1rem;
  }

  .card-getting {
    .button-link {
      cursor: pointer;
      margin: 2rem 0 1.5rem;

      .icon {
        width: 67px;
        display: block;
        height: 100%;
        margin: 0 auto;
      }
    }
  }
}
</style>
