<template>
  <div class="column__content">
    <p class="subtitle" v-html="$t('card-ready.android-os.congratulations')"></p>
    <div class="card-getting">
      <div class="text" v-html="$t('card-ready.android-os.in-app')"></div>
      <div class="button-link">
        <a href="#" target="_blank" class="icon">
          <img :src="require('@/assets/images/google-pay.svg')" alt="Google Pay">
          <div class="text">
            Google Pay
          </div>
        </a>
      </div>
    </div>

    <social-auth class="card-ready" :title="$t('card-ready.desktop.link')" />
  </div>
</template>

<script>
import SocialAuth from '@/components/SocialAuth/SocialAuth';

export default {
  name: 'android-os',
  components: { SocialAuth },
};

</script>

<style lang="less" scoped>
.column__content {
  .card-getting {
    .button-link {
      display: flex;
      justify-content: center;
      margin-top: 1rem;

      a {
        text-decoration: none;
      }

      .icon {
        margin: 1rem 0;
        text-align: center;
        img {
          width: 80px;
        }
      }
    }
  }
}
</style>