<template>
  <div class="column__content">
    <p class="subtitle" v-html="$t('qr-link.androidOs.get-e-card')"></p>
    <div class="card-getting">
      <div class="text">
        {{ $t('qr-link.androidOs.for-install') }}
      </div>
      <div class="button-link">
        <a href="#" @click.prevent="next" class="icon">
          <img :src='image' :alt="$t('qr-link.androidOs.to-google-pay')">
        </a>
      </div>
      <div class="text" v-html="$t('qr-link.androidOs.after-install')"></div>

      <img class="card-img" :src="require('@/assets/images/card-android.png')" alt="Google Pay">
    </div>
  </div>
</template>

<script>
export default {
  name: 'android-os',
  computed: {
    image() {
      const locale = this.$store.state.settings.locale;
      return require(`@/assets/images/google-pay-${locale}.svg`);
    },
  },
  methods: {
    next() {
      this.$emit('next');
    },
  },
};

</script>

<style lang="less" scoped>
.column__content {
  .card-img {
    padding-top: 1rem;
    width: 80%;
    margin: 0 auto;
    display: block;
  }

  .card-getting {
    padding: 25px 0 0 0 !important;

    .button-link {
      cursor: pointer;
      margin: 2rem 0 1.5rem;

      .icon {
        width: 220px;
        display: block;
        height: 100%;
        margin: 0 auto;
      }
    }
  }
}
</style>
