<template>
  <div class="column__content">
    <div class="flex flex__centered">
        <span class="logo__wrapper" v-html="logo"></span>
    </div>
    <p class="subtitle has-text-centered" v-html="subtitle"></p>
    <p class="text" v-html="text"></p>
    <div class="field" v-if="isMobile">
      <c-button @click="close">{{ $t('description.get-card') }}</c-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'card-description',
  props: {
    logo: String,
    subtitle: String,
    text: String,
  },
  data() {
    return {
      isMobile: false,
    };
  },
  methods: {
    close() {
      this.$emit('close');
    },
  },
  mounted() {
    this.isMobile = window.innerWidth <= 800;

    this.$nextTick(() => {
      window.addEventListener('resize', () => {
        this.isMobile = window.innerWidth <= 800;
      });
    });
  },
};

</script>

<style lang="less" scoped>
.column__content {
  .logo__wrapper {
    background-color: #FFFFFF;
    margin: 30px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    overflow: hidden;

    border: 2px solid #E75D36;
    border-radius: 100px;

    width: 140px;
    height: 140px;
  }

  .text {
    text-align: justify !important;
  }

  .field {
    font-family: proxima_nova_ltlight, Verdana, helvetica, sans-serif;
    margin-top: 1rem;
  }

  .column__footer {
    margin-top: 1rem;
  }
}
</style>
