<template>
  <div class="column__content">
    <p class="subtitle" v-html="$t('qr-link.desktop.get-e-card')"></p>
    <div class="card-getting">
      <div class="text">
        {{ $t('qr-link.desktop.open-link') }}
      </div>
      <div class="qr-code" v-html="qrSvg"></div>
      <div class="link">{{ link }}</div>
      <div class="text" v-html="$t('qr-link.desktop.get-from-sms')"></div>
    </div>
  </div>
</template>

<script>
import qr from 'qr-image';

export default {
  name: 'desktop',
  data() {
    return {
      qrSvg: null,
      link: 'http://cardpr.com/wGYK210',
    };
  },
  mounted() {
    this.$emit('next', {
      show: true,
      title: this.$t('qr-link.where-card'),
      action: 'card-ready',
    });

    this.qrSvg = qr.imageSync(this.link, { type: 'svg' });
  },
};

</script>

<style lang="less" scoped>
.column__content {
  .card-getting {
    display: flex;
    flex-direction: column;
    align-items: center;

    .qr-code {
      padding-top: 1rem;
      width: 150px;
      margin: 0 auto;
    }

    .link {
      font-family: proxima_nova_ltlight, Verdana, helvetica, sans-serif;
      display: inline-block;
      padding: 1rem;
      font-weight: 400;
      color: #000;
      font-size: 1.1rem;
      -webkit-user-select: all;
      -moz-user-select: all;
      -ms-user-select: all;
      user-select: all;
      margin: 1rem 0;
      background-color: #e6e6e6;
    }
  }
}
</style>
