<template>
  <div class="card-request column__content">
    <p class="subtitle has-text-centered" v-html="$t('card-request.get-card-title')"></p>
    <div class="phone-loader">

        <span class="icon frames">
          <svg viewBox="0 0 175 361" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x=".5" y=".5" width="174" height="360" rx="23.5"></rect>
            <path d="M153 354.264H22c-8.00564 0-14.5-6.523-14.5-14.576V22.0765C7.5 14.02371 13.99436 7.5 22 7.5h18.5234c.824 0 1.5576.483355 2.1076 1.26937.5502.78651.869 1.81704.869 2.75358 0 4.9921 4.0271 9.04335 9 9.04335h71c4.973 0 9-4.05125 9-9.04335 0-.93654.319-1.96707.869-2.75358.55-.786015 1.284-1.26937 2.108-1.26937H153c8.006 0 14.5 6.52371 14.5 14.5765V339.688c0 8.053-6.494 14.576-14.5 14.576z"></path>
          </svg>
        </span>

      <span class="icon background">
          <svg viewBox="0 0 147 291" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M11 0C4.9248 0 0 4.92487 0 11v115.15c4.69824 2.26 8 7.61 8 13.85 0 6.24-3.30176 11.59-8 13.85V280c0 6.075 4.9248 11 11 11h125c6.075 0 11-4.925 11-11V153.85c-4.698-2.26-8-7.61-8-13.85 0-6.24 3.302-11.59 8-13.85V11c0-6.07513-4.925-11-11-11H11zm128 140v-1h-.992v1H139zM8 140v-1h.99219v1H8zm2.9775 0h1.9844v-1h-1.9844v1zm3.9698 0h1.9843v-1h-1.9843v1zm3.9697 0h1.9844v-1H18.917v1zm3.9697 0h1.9844v-1h-1.9844v1zm3.9697 0h1.9844v-1h-1.9844v1zm3.9698 0h1.9843v-1h-1.9843v1zm3.9697 0h1.9844v-1h-1.9844v1zm3.9697 0H40.75v-1h-1.9844v1zm3.9688 0h1.9853v-1h-1.9853v1zm3.9697 0h1.9854v-1h-1.9854v1zm3.9697 0h1.9854v-1h-1.9854v1zm3.9698 0h1.9853v-1h-1.9853v1zm3.9697 0h1.9853v-1h-1.9853v1zm3.9697 0h1.9854v-1H62.583v1zm3.9697 0h1.9854v-1h-1.9854v1zm3.9698 0h1.9853v-1h-1.9853v1zm3.9697 0h1.9853v-1h-1.9853v1zm3.9697 0h1.9854v-1h-1.9854v1zm3.9697 0h1.9854v-1h-1.9854v1zm3.9698 0h1.9853v-1h-1.9853v1zm3.9697 0h1.9853v-1h-1.9853v1zm3.9697 0h1.9854v-1h-1.9854v1zm3.9697 0h1.9855v-1h-1.9855v1zm3.9695 0h1.986v-1h-1.986v1zm3.97 0h1.984v-1h-1.984v1zm3.97 0h1.984v-1h-1.984v1zm3.969 0h1.985v-1h-1.985v1zm3.97 0h1.985v-1h-1.985v1zm3.97 0h1.984v-1h-1.984v1zm3.97 0h1.984v-1h-1.984v1zm3.969 0h1.985v-1h-1.985v1zm3.97 0h1.984v-1h-1.984v1z">
            </path>
          </svg>
        </span>

      <div class="items">
        <div class="title">{{ $t('card-request.create-your-card') }}</div>
        <div class="custom-loader">
          <radial-progress-bar :diameter="30" :completed-steps="completedSteps"
                               :total-steps="totalSteps" :stroke-width="2" startColor="#FFF"/>
        </div>
        <div class="qr">
          <div v-for="(item, key) in qr"
               :key="key" :class="{ active: item === true }"
               class="qr-item">
          </div>
        </div>
      </div>
    </div>
    <div class="wait">{{ $t('card-request.please-wait') }}</div>
  </div>
</template>

<script>
import { ACTION_CARD_CREATE, } from '@/store';

import RadialProgressBar from 'vue-radial-progress';
import _ from 'lodash';

export default {
  name: 'card-request',
  components: {
    RadialProgressBar,
  },
  data() {
    return {
      completedSteps: 0,
      totalSteps: 10,
      qr: null,
      interval: null,
    };
  },
  created() {
    this.$emit('send', {
      showExit: true,
    });

    this.interval = setInterval(() => {
      this.completedSteps += 1;

      this.qr = _.times(144, () => Math.random() < 0.5);
    }, 500);

    this.$store.dispatch(ACTION_CARD_CREATE).then(({status}) => {
      if (status === 'success') {
        this.$emit('next');
      }
    });
  },
  destroyed() {
    clearInterval(this.interval);
  },
};

</script>

<style lang="less" scoped>
.column__content {
  .wait {
    font-family: proxima_nova_ltlight, Verdana, helvetica, sans-serif;
    text-align: center;
    margin: 1rem 0;
    font-size: 0.9rem;
    color: #a9a9a9;
  }

  .phone-loader {
    position: relative;
    width: 170px;
    margin: 0 auto;

    .icon {
      &.frames svg {
        width: 100%;
        z-index: 1;
        left: 0;
        top: 0;
        stroke: #000000;
      }

      &.background svg {
        position: absolute;
        width: 84%;
        z-index: 2;
        left: 8%;
        top: 10%;
        fill: #E75D36;
      }
    }

    .items {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      top: 0;
      left: 0;
      z-index: 3;
      padding: 20% 21%;

      .title {
        color: #FFFFFF;
        font-size: 1rem;
        margin-top: 25px;
        font-weight: 600;
        margin-bottom: 20px;
      }

      .qr {
        display: flex;
        flex-wrap: wrap;
        width: 70px;
        height: 70px;
        margin: 65px auto 0;
        border-radius: 2px;
        padding: 6px;
        background-color: #FFF;

        .qr-item {
          float: left;
          height: 8.3333%;
          width: 8.3333%;
          background-color: #FFF;

          &.active {
            background-color: #000000;
          }
        }
      }
    }
  }
}
</style>
