<template>
  <component @next="next" :is="view"></component>
</template>

<script>
import MobileDetect from 'mobile-detect';
import Desktop from './views/Desktop/Desktop';
import iOs from './views/iOs/iOs';
import AndroidOs from './views/AndroidOs/AndroidOs';
import WindowsMobileOs from './views/WindowsMobileOs/WindowsMobileOs';

export default {
  name: 'qr-link',
  components: { Desktop, iOs, AndroidOs, WindowsMobileOs, },
  data() {
    return {
      md: null,
      view: '',
    };
  },
  created() {
    this.$emit('send', {
      showExit: true,
    });

    this.md = new MobileDetect(window.navigator.userAgent);
    const os = this.md.os();

    if (os) {
      if (os.indexOf('iOS') >= 0) this.view = 'i-os';
      else if (os.indexOf('AndroidOS') >= 0) this.view = 'android-os';
      else if (os.indexOf('WindowsPhoneOS') >= 0) this.view = 'windows-mobile-os';
      else this.view = 'desktop';
    } else {
      this.view = 'desktop';
    }
  },
  methods: {
    next(data = null) {
      if (data) {
        this.$emit('next', data);
      } else {
        this.$emit('next');
      }
    },
  },
};

</script>

<style lang="less" scoped>
.column__content {
  .card-img {
    padding-top: 1rem;
    width: 80%;
    margin: 0 auto;
    display: block;
  }

  .card-getting {
    .button-link {
      cursor: pointer;
      margin: 2rem 0 1.5rem;

      .icon {
        width: 220px;
        display: block;
        height: 100%;
        margin: 0 auto;
      }
    }
  }
}
</style>
