<template>
  <button class="c-button" type="submit" :class="{disabled}" @click="handleClick">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'c-button',
  inheritAttrs: false,
  props: {
    disabled: Boolean,
  },
  methods: {
    handleClick(event) {
      this.$emit('click', event);
    },
  },
};

</script>

<style lang="less" scoped>
  .c-button {
    width: 100%;
    font-family: proxima_nova_ltlight, Verdana, helvetica, sans-serif;
    outline: none;

    &.disabled {
      background-color: #CFCFCF;

      &:hover {
        background-color: #CFCFCF;
      }
    }

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    border: none;
    border-radius: 2px;
    margin: 0;
    width: 100%;;
    padding: 10px;
    height: 67px;
    overflow: visible;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background-color: #EC7D5E;

    /* inherit font & color from ancestor */
    color: #fff;
    font-size: 1rem;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    -webkit-transition: 0.2s ease background-color;
    -moz-transition: 0.2s ease background-color;
    -ms-transition: 0.2s ease background-color;
    -o-transition: 0.2s ease background-color;
    transition: 0.2s ease background-color;

    &:hover {
      background-color: #E75D36;
    }

    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }
</style>
