.slide-leave-active,
.slide-enter-active,
.slide-back-leave-active,
.slide-back-enter-active {
  transition: transform .5s ease-out;
  position: absolute;
  top: 0;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-leave-to {
  transform: translateX(-100%);
}

.slide-back-enter {
  transform: translateX(-100%);
}

.slide-back-leave-to {
  transform: translateX(100%);
}