body {
  font-family: 'proxima_nova_rgregular', Verdana, helvetica, sans-serif;

  .subtitle {
    font-family: 'proxima_nova_rgbold', Verdana, helvetica, sans-serif;
  }

  .c-input {
    .c-input__field {
      font-family: 'proxima_nova_ltlight', Verdana, helvetica, sans-serif;
    }
  }

  .c-button {
    button {
      font-family: 'proxima_nova_ltlight', Verdana, helvetica, sans-serif;
    }
  }
}

.flex {
  display: flex;

  &.flex__centered {
    justify-content: center;
    align-items: center;
  }

  &.flex__justify_between {
    justify-content: space-between;
  }

  &.flex__align_centered {
    align-items: center;
  }
}

.has-text-centered {
  text-align: center !important;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-top {
  margin-top: 1rem;
}

a {
  color: #4d4d4d;
  text-decoration: underline;
}

.custom-loader .radial-progress-container svg.radial-progress-bar circle {
  &:nth-child(2) {
    stroke: rgba(255, 255, 255, 0.25);
  }

  &:nth-child(3) {
    stroke: #FFF;
  }
}

.main-card {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .main-card__content {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    .e-card__columns {
      display: flex;

      -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

      .column {
        overflow-x: auto;
        width: 400px;
        min-height: 600px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: relative;

        .link {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        .social-auth.card-ready {
          background-color: inherit;
        }

        .wallets {
          font-family: proxima_nova_ltlight, Verdana, helvetica, sans-serif;
        }

        .footer-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 30px 30px 30px;
          font-size: 0.8rem;

          .left {
            cursor: pointer;

            a {
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          .right {
            text-align: right;

            a.cardpr-link {
              color: #d14219;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }

        .step-info {
          .step-line {
            top: 0;
            left: 0;
            width: 100%;
            height: 5px;

            &.hide-line {
              background-color: transparent;
            }

            span {
              height: 5px;
              display: block;
              transition: transform .3s ease;
              transform: translateX(-100%);
            }
          }

          .step-description {
            display: flex;
            justify-content: space-between;

            span {
              flex: 1;

              &.logout {
                a {
                  margin-right: 30px;
                  outline:  none;
                }
              }

              svg {
                cursor: pointer;
                width: 15px;
              }

              &:last-child {
                text-align: right;
              }
            }

            font-family: proxima_nova_ltlight, Verdana, helvetica, sans-serif;
            text-align: center;
            font-size: 1rem;
            padding: 1rem 0;
          }
        }

        .column__content {
          .c-input.transparent-placeholder .c-input__field input {
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: transparent !important;
              opacity: 1; /* Firefox */
            }

            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: transparent;
            }

            &::-ms-input-placeholder { /* Microsoft Edge */
              color: transparent;
            }
          }

          .subtitle {
            font-family: proxima_nova_rgbold, Verdana, helvetica, sans-serif;
            font-weight: 700;
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
            line-height: 1.25;
            word-break: break-word;
            text-align: center;
          }

          .text {
            font-family: proxima_nova_ltlight, Verdana, helvetica, sans-serif;
            line-height: 1.5;
            font-size: 0.9rem;
            text-align: center;

            b {
              font-family: proxima_nova_ltsemibold, Verdana, helvetica, sans-serif;
            }
          }

          .card-getting {
            padding: 25px 0;
            border-top: 5px solid;
            border-bottom: 5px solid;
            border-color: #e6e6e6 !important;
          }
        }

        .step-info + .slide-wrapper {
          .column__content {
            padding: 0 30px;
          }
        }

        .slide-wrapper {
          position: relative;
          height: 100%;
          flex: auto;

          .column__content {
            padding: 3rem 30px 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            width: 100%;
          }
        }

        &.description {
          -webkit-box-shadow: inset -20px 0px 50px -20px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: inset -20px 0px 50px -20px rgba(0, 0, 0, 0.2);
          box-shadow: inset -20px 0px 50px -20px rgba(0, 0, 0, 0.2);

          .column__content {
            padding: 3rem 30px 1rem;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
          }

          .footer-info {
            .mobile-icons {
              svg {
                width: 24px;
                margin-left: 1rem;

                path {
                  fill: #808080;
                }
              }
            }

            .icon {
              img {
                height: 33px;
                width: 109px;
              }
            }
          }
        }
      }
    }
  }
}