@media (max-width: 800px) {
  .main-card {
    min-height: auto;
    .main-card__content {
      padding: 0;
      display: block;

      .e-card__columns {
        display: block;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        min-height: auto;
        max-width: 100%;

        .column {
          width: 100%;
          min-height: 100vh;

          &.description {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;

            .column__content {
              padding: 0 30px;
            }

            .footer-info {
              display: block;
              text-align: right;
            }
          }
        }
      }
    }
  }
}