.main-card.day {
  background-color: #FFF;
  color: #000;

  .main-card__content {
    .e-card__columns {
      .column {
        background-color: #FFF;

        .terms-link {
          svg {
            path:nth-child(2) {
              fill: #000000 !important;
            }
            path:nth-child(3) {
              fill: #000000 !important;
            }
          }
        }

        .link {
          color: #777777;
        }

        .footer-info {
          color: #999999;
        }

        .step-info {
          .step-line {
            background-color: #F8CFC3;

            span {
              background-color: #E75D36;
            }
          }

          .step-description {
            color: #999;

            .logout {
              svg {
                fill: #000000;
              }
            }
          }
        }
      }
    }
  }
}
