.main-card.night {
  background-color: #292929;
  color: #CCCCCC;

  .main-card__content {
    .e-card__columns {
      .column {
        background-color: #292929;

        .terms-link {
          svg {
            path:nth-child(2) {
              fill: #CCCCCC;
            }
            path:nth-child(3) {
              fill: #CCCCCC;
            }
          }
        }

        .qr-code {
          svg {
            path {
              fill: #FFFFFF;
            }
          }
        }

        .phone-loader {
          .icon {
            &.frames svg {
              stroke: #a9a9a9;
            }
          }
        }

        .c-checkbox {
          span {
            svg {
              path {
                fill: #CCCCCC;;
                stroke: #CCCCCC;;
              }
            }
          }

          .c-checkbox__content {
            color: #b3b3b3;

            a {
              color: #b3b3b3;
            }
          }
        }

        .c-button {
          button:disabled {
            color: #292929;
          }
        }

        .c-input {
          .c-input__field.hide-placeholder {
            //color: #797979;
            //border-color: #999999;
            //background-color: inherit;

            input {
              //color: #797979;
              //caret-color: #797979;
            }
          }
        }

        .social-auth {
          background-color: #343434;

          .social-auth__icons {
            .auth-with-social {
              background-color: #FFF;
              fill: #696969;
            }
          }
        }

        .footer-info {
          color: #999999;

          a {
            color: #999999;
          }
        }

        .step-info {
          .step-line {
            background-color: #F8CFC3;

            span {
              background-color: #E75D36;
            }
          }

          .step-description {
            color: #999;

            .logout {
              svg {
                fill: #CCCCCC;
              }
            }
          }
        }

        .column__content {
          .subtitle {
            color: #CCCCCC;
          }

          .wallets {
            .wallet {
              color: #CCCCCC;
              background-color: #3e3e3e;
            }
          }

          .text {
            color: #CCCCCC !important;

            a {
              color: #CCCCCC;
            }
          }
        }
      }
    }
  }
}