.main-card.night-blue {
  background-color: #1A232C;
  color: #FFFFFF;

  .custom-loader .radial-progress-container svg.radial-progress-bar circle {
    &:nth-child(2) {
      stroke: #52749f;
    }

    &:nth-child(3) {
      stroke: #1A232C;
    }
  }

  .main-card__content {
    .e-card__columns {
      .column {
        background-color: #1A232C;

        .terms-link {
          svg {
            path:nth-child(2) {
              fill: #FFFFFF;
            }
            path:nth-child(3) {
              fill: #FFFFFF;
            }
          }
        }

        .qr-code {
          svg {
            path {
              fill: #FFFFFF;
            }
          }
        }

        .phone-loader {
          .icon {
            &.frames svg {
              stroke: #a9a9a9;
            }

            &.background svg {
              fill: #275187;
            }
          }
        }

        .c-checkbox {
          span {
            svg {
              path {
                fill: #FFFFFF;
                stroke: #FFFFFF;
              }
            }
          }

          .c-checkbox__content {
            color: #b3b3b3;

            a {
              color: #b3b3b3;
            }
          }
        }

        .c-button {
          button {
            background-color: #486994;

            &:hover {
              background-color: #275187;
            }

            &:disabled {
              background-color: #CFCFCF;
              color: #1A232C;
            }
          }
        }

        .c-input {
          .c-input__field.hide-placeholder {
            /**
              Не трогать
             */
            //color: #797979;
            //border-color: #999999;
            //background-color: inherit;

            input {
              /**
              Не трогать
             */
              //color: #797979;
              //caret-color: #797979;
            }
          }
        }

        .social-auth {
          background-color: #252e37;

          .social-auth__icons {
            .auth-with-social {
              background-color: #FFF;
              fill: #1A232C;
            }
          }
        }

        .footer-info {
          color: #999999;

          a {
            color: #999999;
          }
        }

        .step-info {
          .step-line {
            background-color: #F8CFC3;

            span {
              background-color: #E75D36;
            }
          }

          .step-description {
            color: #999;

            .logout {
              svg {
                fill: #000000;
              }
            }
          }
        }

        .column__content {
          .subtitle {
            color: #FFFFFF;
          }

          .wallets {
            .wallet {
              color: #FFFFFF;
              background-color: #3e3e3e;
            }
          }

          .text {
            color: #FFFFFF !important;

            a {
              color: #FFFFFF;
            }
          }
        }
      }
    }
  }
}