<template>
  <div class="column__content">
    <p v-once class="subtitle has-text-centered" v-html="$t('application-form.get-card-title')"></p>
    <form action="#" @submit.prevent="next">
      <template v-for="(field, name) in fields">
        <div v-if="field.type === 'tel' || field.type === 'text' || field.type === 'email'"
             :key="field.index" class="field">
          <c-input v-model.trim="field.value" v-bind="field.attribute" :class="field.class"
                   @keyup="validateField(name)" :ref="name"
                   :type="field.type" class="small"/>
        </div>
        <div v-if="field.type === 'promo'" :key="field.index" class="field">
          <c-input v-model.trim="field.value" v-bind="field.attribute" :class="field.class"
                   :ref="name" :type="field.type" class="small"/>
        </div>
        <div v-if="field.type === 'checkbox'" class="field checkbox-text">
          <c-checkbox v-model.trim="field.value" v-bind="field.attribute" :class="field.class"
                      @input="validateField(name)">
            <template class="checkbox-label" slot="label">
              <span v-html="field.attribute.placeholder"></span>
            </template>
            <template slot="link">
              <a :href="field.link" target="_blank" :title="$t('application-form.terms-link')"
                 class="terms-link">
                <svg width="538" height="538" viewBox="0 0 538 538" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill="none" transform="matrix(0 -1 1 0 0 537.206)" d="M0 0H537.206V537.349H0z"/>
                  <path d="M444.2 326.806v122.9c0 33.4-27.2 60.5-60.5 60.5H87.5c-33.4 0-60.5-27.2-60.5-60.5v-124.9c0-7.5-6-13.5-13.5-13.5s-13.5 6-13.5 13.5v124.9c0 48.3 39.3 87.5 87.5 87.5h296.2c48.3 0 87.5-39.3 87.5-87.5v-122.9c0-7.5-6-13.5-13.5-13.5s-13.5 6.1-13.5 13.5z"
                        fill="#000"/>
                  <path d="M210.4 510.2H87.5C54.1 510.2 27 483 27 449.7V153.5C27 120.1 54.2 93 87.5 93h124.9c7.5 0 13.5-6 13.5-13.5s-6-13.5-13.5-13.5H87.5C39.2 66 0 105.3 0 153.5v296.2c0 48.3 39.3 87.5 87.5 87.5h122.9c7.5 0 13.5-6 13.5-13.5s-6.1-13.5-13.5-13.5zM457.472 66.282H336.133a13.46 13.46 0 0 0-13.506 13.506 13.46 13.46 0 0 0 13.506 13.506h88.812L231.269 286.97a13.442 13.442 0 0 0 0 19.091 13.443 13.443 0 0 0 19.092 0l193.676-193.676v88.812a13.46 13.46 0 0 0 13.506 13.506c3.677 0 7.142-1.485 9.546-3.889 2.404-2.404 3.96-5.798 3.889-9.546V79.929c0-7.636-6.081-13.717-13.506-13.647z"
                        fill="#000"/>
                </svg>
              </a>
            </template>
          </c-checkbox>
        </div>
        <div v-if="field.type === 'submit'" class="field">
          <c-button v-bind="field.attribute">{{ field.attribute.placeholder }}</c-button>
        </div>
      </template>
    </form>
  </div>
</template>

<script>
import {
  MUTATION_SET_FIELD,
  ACTION_GET_PROMO_CODE,
  GETTER_FORM_FIELDS,
  GETTER_FORM_TYPE,
  GETTER_SHOW_DESCRIPTION
} from '@/store';
import { TYPE_SMS } from '@/store/helpres/types'

export default {
  name: 'application-form',
  data() {
    return {
      fields: {},
    };
  },
  created() {
    const fields = this.$store.getters[GETTER_FORM_FIELDS];

    for (const index in fields) {
      const name = fields[index].name;
      let value = fields[index].default !== undefined ? fields[index].default : '';

      let fieldClass = {
        error: false,
        success: false,
      };

      if (this.getIcon(name)) {
        fieldClass[this.getIcon(name)] = true;
      }

      let fieldObject = {
        value: value,
        type: fields[index].type,
        required: fields[index].required,
        attribute: {
          disabled: name === 'submit',
          readonly: false,
          errorMessage: fields[index].errorMessage,
          placeholder: fields[index].label,
          tabIndex: index
        },
        class: fieldClass,
      };

      if (name === 'accept') {
        fieldObject.link = fields[index].link;
      }

      this.$set(
        this.fields,
        name, Object.assign({}, fieldObject));
    }

    if (this.$store.getters[GETTER_FORM_TYPE] === TYPE_SMS) {
      ['telephone', 'name', 'surname', 'email', 'promo', 'accept'].forEach((item) => {
        if (this.$store.state.fields[item]) {
          if (item === 'telephone') {
            this.fields[item].attribute.readonly = true;
            this.fields[item].class.success = true;
          }

          this.fields[item].value = this.$store.state.fields[item];
        }
      });
    }
  },
  mounted() {
    if (this.$parent.$parent.isMobile) {
      if (!this.$store.getters[GETTER_SHOW_DESCRIPTION]) {
        this.$emit('send', {
          showExit: this.$store.getters[GETTER_FORM_TYPE] === TYPE_SMS,
        });
      } else {
        this.$emit('send', {
          showExit: true,
        });
      }
    } else {
      this.$emit('send', {
        showExit: this.$store.getters[GETTER_FORM_TYPE] === TYPE_SMS
      });
    }

    if (this.$store.getters[GETTER_FORM_TYPE] === TYPE_SMS) {
      this.$emit('next', {
        show: true,
        action: 'sms-verification',
        title: this.$t('application-form.edit-number'),
        callback: () => {
          ['name', 'surname', 'email', 'promo'].forEach((item) => {
            this.$store.commit(MUTATION_SET_FIELD, {
              name: item,
              value: '',
            });
          });
        },
      });
    }

    this.validateAll(true);
  },
  computed: {
    currentMask() {
      return this.$refs.telephone[0].getMask().currentMask;
    },
  },
  methods: {
    getIcon(name) {
      if (name === 'telephone') return 'icon-has-phone';
      if (name === 'name') return 'icon-has-name';
      if (name === 'surname') return 'icon-has-surname';
      if (name === 'email') return 'icon-has-email';
      if (name === 'promo') return 'icon-has-promo';

      return false;
    },
    next() {
      this.validateAll().then(valid => {
        if (valid) {
          const fields = Object.keys(this.fields);

          fields.forEach(field => {
            if (this.fields[field].type !== 'submit') {
              this.$store.commit(MUTATION_SET_FIELD, {
                name: field,
                value: this.fields[field].value,
              });
            }
          });

          if (this.fields.promo) {
            this.$store.dispatch(ACTION_GET_PROMO_CODE, this.fields.promo.value).then(({ status }) => {
              this.fields.promo.class.error = status === 'fail';
              this.fields.promo.class.success = status === 'success';

              if (status === 'success' || status === 'empty') {
                this.fields.promo.class.error = false;

                this.$emit('next');
              }
            });
          } else {
            this.$emit('next');
          }
        }
      });
    },
    validate(valid, invalid) {
      if (this.currentMask && this.currentMask.country !== 'unknown') {
        if (this.currentMask.expression.test(this.fields.telephone.value)) {
          valid();
        } else {
          invalid();
        }
      } else {
        invalid();
      }
    },
    validateAll(silent) {
      return new Promise(resolve => {
        if (this.fields.telephone) {
          if (this.fields.telephone.required || this.fields.telephone.value.length > 0) {
            this.validate(() => {
              if (!silent) {
                this.fields.telephone.class.success = true;
                this.fields.telephone.class.error = false;
              }
            }, () => {
              resolve(false);

              if (!silent) {
                this.fields.telephone.class.success = false;
                this.fields.telephone.class.error = true;
              }
            });
          }
        }

        resolve(true);
      }).then(valid => {
        const fields = Object.keys(this.fields);

        fields.forEach(field => {
          if (field !== 'promo' && field !== 'submit') {
            if (!this.validateRules(field, silent)) {
              valid = false;
            }
          }
        });

        return valid;
      }).then(valid => {
        this.fields.submit.attribute.disabled = !valid;

        return valid;
      });
    },
    validateField(name) {
      this.validateRules(name);

      this.validateAll(true);
    },
    validateRules(name, silent = false) {
      let valid = true;

      if (this.fields[name].required || this.fields[name].value.length > 0) {
        if (name === 'telephone') {
          if (this.currentMask && this.currentMask.country !== 'unknown') {
            if (this.currentMask.expression.test(this.fields[name].value)) {
              if (!silent) {
                this.fields[name].class.success = true;
                this.fields[name].class.error = false;
              }
            } else {
              valid = false;
              if (!silent) {
                this.fields[name].class.success = false;
                this.fields[name].class.error = true;
              }
            }
          } else {
            valid = false;
          }
        }

        if (name === 'name' || name === 'surname') {
          if (!/^[a-zA-Zа-яёА-ЯЁ]{1,}$/.test(this.fields[name].value)) {
            valid = false;
            if (!silent) {
              this.fields[name].class.success = false;
              this.fields[name].class.error = true;
            }
          } else {
            if (!silent) {
              this.fields[name].class.success = true;
              this.fields[name].class.error = false;
            }
          }
        }

        if (name === 'email') {
          if (!/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(this.fields[name].value)) {
            valid = false;
            if (!silent) {
              this.fields[name].class.success = false;
              this.fields[name].class.error = true;
            }
          } else {
            if (!silent) {
              this.fields[name].class.success = true;
              this.fields[name].class.error = false;
            }
          }
        }
      }

      if (this.fields[name].required) {
        if (name === 'accept') {
          if (!this.fields[name].value) {
            valid = false;
            if (!silent) {
              this.fields[name].class.error = true;
            }
          } else {
            if (!silent) {
              this.fields[name].class.error = false;
            }
          }
        }
      }

      return valid;
    },
  },
};

</script>

<style lang="less" scoped>
.column__content {
  .field {
    &.checkbox-text {
      font-family: proxima_nova_ltlight, Verdana, helvetica, sans-serif;
      font-size: .9rem;
      margin: 1rem 0;
    }

    .terms-link {
      width: 15px;
      padding: 0 2px;

      svg {
        width: 15px;
        height: 15px;
      }
    }

    margin-bottom: .5rem;

    .c-button {
      font-family: proxima_nova_ltlight, Verdana, helvetica, sans-serif;
    }
  }
}
</style>
