<template>
  <div class="column__content">
    <p class="subtitle" v-html="$t('card-ready.desktop.congratulations')"></p>
    <div class="card-getting">
      <div class="text" v-html="$t('card-ready.desktop.manage')"></div>
      <div class="wallets">
        <div class="wallet">
          iPhone
          <img :src="require('@/assets/images/apple-wallet.svg')" alt="Apple Wallet">
          Apple Wallet
        </div>
        <div class="wallet">
          Android
          <img :src="require('@/assets/images/google-pay.svg')" alt="Google Pay">
          Google Pay
        </div>
        <div class="wallet">
          WinPhone
          <img :src="require('@/assets/images/windows-wallet-pass.svg')" alt="Wallet Pass">
          Wallet Pass
        </div>
      </div>
    </div>
    <social-auth class="card-ready" :title="$t('card-ready.desktop.link')"/>
  </div>
</template>

<script>
import SocialAuth from '@/components/SocialAuth/SocialAuth';

export default {
  name: 'desktop',
  components: { SocialAuth },
};

</script>

<style lang="less" scoped>
.column__content {
  .text.social-auth {
    background-color: transparent;
  }

  .card-getting {
    .wallets {
      margin-top: 2rem;

      display: flex;
      justify-content: space-between;

      .wallet {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        text-align: center;

        padding: 13px;
        margin: 0 0.2rem;
        border-radius: 2px;
        font-size: 0.9em;
        color: #333333;
        background-color: #e6e6e6;

        img {
          height: 50px;
          margin: 0.5rem 0;
        }
      }
    }
  }
}
</style>
