<template>
  <div id="app">
    <div class="main-card" :style="[mainBackground, mainHack]" :class="mainClass">
      <div class="main-card__content" :style="mainHack">
        <div class="e-card__columns" :style="mainHack">
          <div class="column description" :style="mainHack" v-if="showLeft">
            <card-description :logo="descriptionLogo" :subtitle="descriptionSubtitle" :text="descriptionText"
                              @close="hideDescription"/>
            <div class="footer-info">
              <div class="icon" v-if="!isMobile"></div>
              <div class="mobile-icons" v-if="!isMobile">
                <svg viewBox="0 0 25 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.2533 10.94167c-2.51237 4.36666-.915211 10.99332 1.86305 15.01132 1.38679 2.0087 2.79083 3.8119 4.7139 3.8119.03625 0 .07259-.0007.10981-.0021.90352-.0361 1.55643-.3148 2.18774-.584.7087-.3025 1.4417-.6153 2.5914-.6153 1.0939 0 1.7919.3026 2.4669.5952.6653.2883 1.3506.5865 2.3631.5675 2.1662-.0404 3.4962-1.9862 4.6696-3.7027 1.2244-1.7922 1.8387-3.5324 2.0459-4.1973l.0084-.0265c.0394-.1182-.0163-.2472-.1294-.2992-.0031-.0015-.0146-.0062-.0178-.0076-.3815-.1562-3.7276-1.643-3.7628-5.69534-.0326-3.2923 2.5102-5.03574 3.0202-5.35173l.0238-.01484c.0552-.03562.0937-.09212.1068-.15673.013-.0645-.0006-.13165-.0376-.18591-1.7552-2.572661-4.4454-2.9603856-5.5285-3.0070336-.1572-.01571196-.3194-.02361643-.4823-.02361643-1.2721 0-2.4907.48121503-3.4698.86786703-.6758.266903-1.2595.497413-1.6621.497413-.4524 0-1.0394-.23333-1.7192-.503464-.90911-.361375-1.93948-.7708623-3.03027-.7708623-.02601 0-.05164.000293-.07687.000781C4.97102 7.186802 2.57451 8.64011 1.2533 10.94167z"
                        fill="none"/>
                  <path d="M17.95007.00018751C16.41421.0628402 14.57181 1.00975 13.4706 2.30165c-.935864 1.08588-1.850097 2.89637-1.6092382 4.7213.0151024.11418.1078612.2023.2225422.21119.103671.0081.209485.01219.31491.01229 1.501766 0 3.121816-.83215 4.228196-2.17206 1.16444-1.41485 1.75324-3.23061 1.57513-4.857045-.01403-.1274524-.12598-.22211457-.25207-.21713749z"/>
                </svg>
                <svg viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.44303 8.01008975C.646032 8.01008975-2e-8 8.628466-2e-8 9.39116v5.52419c0 .76274.64608102 1.38107 1.44303002 1.38107.79696 0 1.44304-.61833 1.44304-1.38107V9.39111c0-.762692-.64598-1.38102025-1.44304-1.38102025zM22.84274 8.01008975c.797 0 1.44303.61837625 1.44303 1.38107025v5.52419c0 .76274-.64608 1.38107-1.44303 1.38107-.796959 0-1.44304041-.61833-1.44304041-1.38107V9.39111c0-.762692.64613141-1.38102025 1.44304041-1.38102025zM3.44922012 8.01008975V17.95364c0 1.10485 1.34200988 1.65725 1.68944988 1.65725h2.11177v4.1432c0 .7627.64609 1.381 1.44304 1.381s1.44313-.6183 1.44313-1.381v-4.1432h3.94201v4.1432c0 .7627.6461 1.381 1.4431 1.381.7969 0 1.443-.6183 1.443-1.381v-4.1432h2.2526c.3475 0 1.6895-.5524 1.6895-1.65725V8.01008975H3.44922012zM20.90676 7.4577c0-1.76968-.7219-3.39505-1.9272-4.67377.0007-.00078.0016-.00141.0024-.00218l1.5928-1.56247c.22-.21573.22-.565514 0-.78129-.2199-.215727-.5764-.215727-.7963 0l-1.5928 1.56247c-.0089.00872-.0169.01801-.025.02716C16.59806.770586 14.49346 0 12.17792 0 9.78597 0 7.61913.822242 6.04254 2.15355c-.0269-.05534-.06307-.10729-.10966-.15309L4.340009.438039c-.219918-.215728-.576493-.215728-.796411 0-.2199172.215727-.2199172.565511 0 .781281L5.13642 2.78175c.04392.04309.09352.07722.14613.10307C4.133565 4.14767 3.4489883 5.7343 3.4489883 7.45765H20.90676v.00005zm-5.1387-4.41936c.6219 0 1.1262.49468 1.1262 1.10487 0 .6101-.5043 1.10483-1.1262 1.10483-.6221 0-1.1264-.49468-1.1264-1.10483.0001-.61024.5043-1.10487 1.1264-1.10487zm-7.32099 0c.62205 0 1.12629.49468 1.12629 1.10487 0 .6101-.50424 1.10483-1.12629 1.10483-.62204 0-1.12628-.49468-1.12628-1.10483 0-.61024.50424-1.10487 1.12628-1.10487z"
                        fill="none"/>
                </svg>
                <svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.14749944 2.73129v9.309c0 .1101.08910066.1993.19906356.1993H24.0835c.11 0 .1991-.0892.1991-.1993V.875063c0-.0579-.0251-.112929-.0688-.1508111-.0437-.0378822-.1015-.05478956-.159-.04649536L11.317899 2.53398c-.0978598.01428-.17039956.09834-.17039956.19731zM9.75417422 23.00208c.04786 0 .09444-.01723.13091-.04913.04331-.03788.06816-.09267.06816-.15025v-9.16732c0-.1101377-.08911-.19938-.19907-.19938h-9.547787c-.052791 0-.103433.0209743-.1407773.0583779-.0373443.0374037-.0582857.0881261-.0582857.1410021l.00047775 7.85676c0 .09969.07349415.18398.17199025.19754l9.547312 1.31064c.009.00112.01807.00176.02707.00176zM.207742 12.23962H9.75418c.10996 0 .19906-.08924.19906-.19938V2.963043c0-.05758-.02484-.1122903-.06808-.1501724-.04323-.0378821-.10041-.05526804-.15774-.0473726L.172309 4.06513c-.0988148.01348-.17238856.09794-.17230894.19779l.00867916 7.77748c.00015925.11006.08925998.19922.19906278.19922zM24.0835 25c.0477 0 .0941-.0171.1306-.0489.0435-.0378.0685-.0927.0685-.1505l.0032-11.16522c0-.052876-.021-.1035984-.0583-.141002-.0374-.0374037-.088-.058378-.1408-.058378H11.346563c-.1099629 0-.19906356.0892424-.19906356.19938v9.37053c0 .09937.07309606.18358.17127456.19746L24.0557 24.9981c.0093.0013.0186.0019.0278.0019z"
                        fill="none"/>
                </svg>
              </div>
              <div class="right" v-if="isMobile">
                <span v-html="$t('app.card-pr-link', { link: 'https://cardpr.com' })"></span>
              </div>
            </div>
          </div>
          <div class="column" :style="mainHack" v-if="showRight">
            <div class="step-info">
              <div class="step-line" :class="{'hide-line': !steps[stepPosition].show}">
                <span v-show="steps[stepPosition].show" :style="{transform: stepWidth}"></span>
              </div>
              <p class="step-description">
                <span></span>
                <span v-show="steps[stepPosition].show">
                  {{ stepPosition > lineStepPosition ? $t('app.done') : $t('app.steps', { lineStepPosition, stepCount }) }}
                </span>
                <span class="logout">
                  <a href="#logout" tabindex="-1" :title="$t('app.logout')" v-show="showExit"
                     @click.prevent="logOut">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 471.2 471.2"><path
                            d="M227.619 444.2h-122.9c-33.4 0-60.5-27.2-60.5-60.5V87.5c0-33.4 27.2-60.5 60.5-60.5h124.9c7.5 0 13.5-6 13.5-13.5s-6-13.5-13.5-13.5h-124.9c-48.3 0-87.5 39.3-87.5 87.5v296.2c0 48.3 39.3 87.5 87.5 87.5h122.9c7.5 0 13.5-6 13.5-13.5s-6.1-13.5-13.5-13.5z"/><path
                            d="M450.019 226.1l-85.8-85.8c-5.3-5.3-13.8-5.3-19.1 0-5.3 5.3-5.3 13.8 0 19.1l62.8 62.8h-273.9c-7.5 0-13.5 6-13.5 13.5s6 13.5 13.5 13.5h273.9l-62.8 62.8c-5.3 5.3-5.3 13.8 0 19.1 2.6 2.6 6.1 4 9.5 4s6.9-1.3 9.5-4l85.8-85.8c5.4-5.4 5.4-14 .1-19.2z"/></svg>
                  </a>
                </span>
              </p>
            </div>
            <transition-group :name="transitionClassName" tag="div" class="slide-wrapper">
              <component v-on:next="next" v-on:send="getData"
                         ref="component"
                         v-for="step in steps"
                         :is="step.name" v-if="steps[stepPosition].name === step.name"
                         :key="step.name"/>
            </transition-group>
            <div class="footer-info" ref="footer">
              <div class="left">
                <a tabindex="-1" href="#action" class="link" v-if="data.show" @click="setStep()">{{ data.title }}</a>
              </div>
              <div class="right">
                <span v-html="$t('app.card-pr-link', { link: 'https://cardpr.com' })"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import CardDescription from '@/components/CardDescription/CardDescription';
import SmsVerification from '@/components/SmsVerification/SmsVerification';
import ApplicationForm from '@/components/ApplicationForm/ApplicationForm';
import CardRequest from '@/components/CardRequest/CardRequest';
import QrLink from '@/components/QrLink/QrLink';
import CardReady from '@/components/CardReady/CardReady';
import {
  MUTATION_INCREMENT_STEP,
  MUTATION_DECREMENT_STEP,
  MUTATION_SET_STEP,
  MUTATION_SET_STATE,
  ACTION_RESET_FIELDS,
  GETTER_STEPS,
  GETTER_TITLE,
  GETTER_FIRST_VISIT,
  GETTER_SHOW_DESCRIPTION
} from '@/store';
import MobileDetect from 'mobile-detect';

const SLIDE_FORWARD = 'slide';
const SLIDE_BACKWARD = 'slide-back';

export default {
  name: 'app',
  components: {
    SmsVerification,
    CardDescription,
    ApplicationForm,
    CardRequest,
    QrLink,
    CardReady,
  },
  data() {
    return {
      transitionClassName: '',
      isMobile: false,
      showRight: true,
      showLeft: true,
      md: null,
      data: {
        show: false,
        title: null,
        action: null,
        callback: null,
      },
      sendData: {
        showExit: true,
      },
    };
  },
  computed: {
    showExit() {
      return this.sendData.showExit;
    },
    mainHack() {
      const os = this.md.os();

      if (os) {
        if (os.indexOf('iOS') >= 0) {
          return {
            minHeight: window.innerHeight + 'px',
          };
        }
      }

      return {};
    },
    descriptionLogo() {
      return this.$store.state.settings.description.logo;
    },
    descriptionSubtitle() {
      return this.$store.state.settings.description.subtitle;
    },
    descriptionText() {
      return this.$store.state.settings.description.text;
    },
    mainBackground() {
      if (this.$store.state.settings.background && !this.isMobile) {
        return {
          'background-image': 'url(\'' + this.$store.state.settings.background + '\')',
        };
      }

      return {};
    },
    mainClass() {
      return this.$store.state.settings.theme;
    },
    steps() {
      return this.$store.getters[GETTER_STEPS];
    },
    stepPosition() {
      return this.$store.state.settings.stepPosition;
    },
    stepCount() {
      return this.steps.filter(step => step.consider === true).length;
    },
    stepWidth() {
      return 'translateX(-' + (100 - ((this.lineStepPosition / this.stepCount) * 100)) + '%)';
    },
    lineStepPosition() {
      const considers = this.steps
        .filter(step => step.consider === true)
        .map(step => step.name);

      const pos = considers.indexOf(this.steps[this.stepPosition].name);

      if (pos < 0) return considers.length;

      return pos + 1;
    },
  },
  methods: {
    logOut() {
      this.$store.dispatch(ACTION_RESET_FIELDS);

      if (this.isMobile) {
        this.$store.commit(MUTATION_SET_STATE, {
          name: 'firstVisit',
          value: true,
        });

        this.columnLogic(true);
      }

      this.setStep(this.steps[0].name);
    },
    getData(data) {
      this.sendData = Object.assign({}, this.sendData, data);
    },
    next(data) {
      if (data) {
        this.data = Object.assign({}, this.data, data);
      } else {
        this.nextStep();
      }
    },
    /**
     * Clear data from child component
     */
    clearData() {
      this.data = {
        show: false,
        title: null,
        action: null,
        callback: null,
      };
    },
    nextStep() {
      this.scrollTop();
      this.transitionClassName = SLIDE_FORWARD;

      if (this.stepPosition < this.steps.length) this.$store.commit(MUTATION_INCREMENT_STEP);

      this.clearData();
    },
    previousStep() {
      this.scrollTop();
      this.transitionClassName = SLIDE_BACKWARD;

      if (this.stepPosition > 0) this.$store.commit(MUTATION_DECREMENT_STEP);

      this.clearData();
    },
    setStep(action = null) {
      this.scrollTop();

      action = action || this.data.action;

      if (this.data.callback) {
        this.data.callback();
      }

      const pos = this.steps.map(step => step.name).indexOf(action);

      if (pos > this.stepPosition) {
        this.transitionClassName = SLIDE_FORWARD;
      } else {
        this.transitionClassName = SLIDE_BACKWARD;
      }

      this.$store.commit(MUTATION_SET_STEP, pos);

      this.clearData();
    },
    hideDescription() {
      this.$store.commit(MUTATION_SET_STATE, {
        name: 'firstVisit',
        value: false,
      });

      this.leftColumn().hide();
      this.rightColumn().show();
    },
    scrollTop() {
      window.scrollTo(0, 0);
    },
    leftColumn() {
      const vm = this;

      return {
        hide() {
          vm.showLeft = false;
        },
        show() {
          vm.showLeft = true;
        }
      };
    },
    rightColumn() {
      const vm = this;

      return {
        hide() {
          vm.showRight = false;
        },
        show() {
          vm.showRight = true;
        }
      };
    },
    columnLogic(value) {
      if (value) {
        if (this.$store.getters[GETTER_FIRST_VISIT] && this.$store.getters[GETTER_SHOW_DESCRIPTION]) {
          this.leftColumn().show();
          this.rightColumn().hide();
        } else {
          this.leftColumn().hide();
          this.rightColumn().show();
        }
      } else {
        if (this.$store.getters[GETTER_SHOW_DESCRIPTION]) {
          this.leftColumn().show();
          this.rightColumn().show();
        } else {
          this.rightColumn().show();
          this.leftColumn().hide();
        }
      }
    }
  },
  watch: {
    isMobile: function (value) {
      this.columnLogic(value);
    },
  },
  created() {
    this.md = new MobileDetect(window.navigator.userAgent);
    document.title = this.$store.getters[GETTER_TITLE];
    this.isMobile = window.innerWidth <= 800;
    this.columnLogic(this.isMobile);

    this.$nextTick(() => {
      window.addEventListener('resize', () => {
        this.isMobile = window.innerWidth <= 800;
      });
    });
  },
};
</script>
