<template>
  <div class="column__content">
    <p class="subtitle has-text-centered" v-html="$t('sms-verification.get-card-title')"></p>
    <transition mode="out-in" name="social">
      <div v-if="display.socialAuth && social.show">
        <div>
          <social-auth :title="$t('sms-verification.auth-from-social')"/>
          <p class="text use-phone has-text-centered" v-html="$t('sms-verification.or-use-tel')"></p>
        </div>
      </div>
    </transition>

    <form action="#" @submit.prevent="steps().next()">
      <!-- Номер телефона -->
      <c-input v-model.trim="fields.telephone" focus class="margin-bottom transparent-placeholder"
               :class="classes.telephone"
               v-bind="attributes.telephone"
               @keyup="telephoneKeyUp"
               ref="telephone"
               :placeholder="$t('sms-verification.your-phone')"
               :error-message="error.telephone"
               type="tel">
        <template slot="description">{{ $t('sms-verification.will-receive-sms') }}</template>
        <template v-if="display.action" slot="action">
        <span class="link" @click="steps().back()">
        {{ $t('sms-verification.to-back') }}
        </span>
        </template>
      </c-input>

      <transition name="code">
        <!-- Смс код -->
        <c-input v-model.trim="fields.code" v-show="!display.socialAuth"
                 v-bind="attributes.code"
                 class="margin-bottom"
                 :class="classes.code"
                 @keyup="codeKeyUp"
                 :error-message="error.code"
                 :placeholder="$t('sms-verification.sms-code')"
                 type="code">
          <template slot="description">
            <span v-if="timer.value > 0">{{ $t('sms-verification.repeat-after', { count: timer.value }) }}</span>
          </template>
          <template slot="action">
          <span class="link"
                v-if="timer.value === 0"
                @click="code().again()">
            {{ $t('sms-verification.send-again') }}
          </span>
          </template>
        </c-input>
      </transition>
      <div>
        <c-button v-bind="attributes.continueButton">
          {{ $t('sms-verification.continue') }}
        </c-button>
      </div>
    </form>
  </div>
</template>

<script>
import SocialAuth from '@/components/SocialAuth/SocialAuth.vue';
import {
  GETTER_FORM_TYPE,
  GETTER_SHOW_DESCRIPTION,
  ACTION_GET_SMS_CODE,
  ACTION_RESET_FIELDS,
  MUTATION_SET_FIELD,
  GETTER_SOCIAL
} from '@/store';
import { TYPE_FORM, TYPE_SMS } from '@/store/helpres/types'

const timerCount = 30;

export default {
  name: 'sms-verification',
  components: {
    SocialAuth,
  },
  data() {
    return {
      step: 0,
      attributes: {
        telephone: {
          readonly: false,
        },
        code: {
          readonly: false,
        },
        continueButton: {
          disabled: true,
        },
      },
      classes: {
        telephone: {
          success: false,
          error: false,
        },
        code: {
          error: false,
        },
      },
      error: {
        code: '',
        telephone: '',
      },
      display: {
        socialAuth: true,
        action: false,
      },
      fields: {
        telephone: '',
        code: '',
      },
      timer: {
        value: 0,
        ref: null,
      },
    };
  },
  created() {
    this.fields.telephone = this.$store.state.fields.telephone;

    this.$store.dispatch(ACTION_RESET_FIELDS);
  },
  mounted() {
    this.validate(() => {
      this.classes.telephone.success = true;
      this.attributes.continueButton.disabled = false;
    });

    if (this.$parent.$parent.isMobile) {
      if (!this.$store.getters[GETTER_SHOW_DESCRIPTION]) {
        this.$emit('send', {
          showExit: this.$store.getters[GETTER_FORM_TYPE] === TYPE_FORM,
        });
      } else {
        this.$emit('send', {
          showExit: true,
        });
      }
    } else {
      this.$emit('send', {
        showExit: false
      });
    }
  },
  computed: {
    currentMask() {
      return this.$refs.telephone.getMask().currentMask;
    },
    social() {
      return this.$store.getters[GETTER_SOCIAL];
    },
  },
  methods: {
    validate(valid, invalid = () => {
    }) {
      if (this.currentMask && this.currentMask.country !== 'unknown') {
        if (this.currentMask.expression.test(this.fields.telephone)) {
          valid();
        } else {
          invalid()
        }
      } else {
        invalid();
      }
    },
    steps() {
      const vm = this;

      return {
        next() {
          if (vm.step === 1) {
            if (vm.attributes.continueButton.disabled) {
              if (!vm.fields.code.match(/[\d+]{4}/)) {
                vm.classes.code.error = true;
                vm.error.code = vm.$t('sms-verification.wrong-code');
                return;
              }
            }

            // eslint-disable-next-line
            vm.code().get().then((data) => {
              if (parseInt(vm.fields.code, 10) === parseInt(data.code, 10)) {
                vm.$store.commit(MUTATION_SET_FIELD, {
                  name: 'telephone',
                  value: vm.fields.telephone,
                });

                vm.$emit('next');
              } else {
                vm.classes.code.error = true;
                vm.error.code = vm.$t('sms-verification.wrong-code');
              }
            });
          } else {
            if (vm.attributes.continueButton.disabled) {
              vm.classes.telephone.success = false;
              vm.classes.telephone.error = true;
              vm.error.telephone = vm.$t('sms-verification.wrong-number');

              return;
            }

            vm.attributes.continueButton.disabled = true;
            vm.attributes.telephone.readonly = true;
            vm.display.action = true;
            vm.display.socialAuth = false;

            vm.code().start();

            vm.step += 1;
          }
        },
        back() {
          if (vm.step > 0) {
            vm.display.action = false;
            vm.display.socialAuth = true;
            vm.attributes.continueButton.disabled = false;
            vm.attributes.telephone.readonly = false;
            vm.classes.code.error = false;
            vm.error.code = '';
            vm.fields.code = '';

            vm.code().stop();

            vm.step -= 1;
          }
        },
      };
    },
    telephoneKeyUp() {
      if (!this.attributes.telephone.readonly) {
        this.validate(() => {
          this.classes.telephone.success = true;
          this.classes.telephone.error = false;
          this.attributes.continueButton.disabled = false;
        }, () => {
          this.classes.telephone.success = false;
          this.classes.telephone.error = false;
          this.attributes.continueButton.disabled = true;
        });
      }
    },
    codeKeyUp() {
      this.$nextTick(() => {
        if (this.fields.code.match(/[\d+]{4}/)) {
          this.attributes.continueButton.disabled = false;
        } else {
          this.attributes.continueButton.disabled = true;
          this.classes.code.error = false;
          this.error.code = '';
        }
      });
    },
    code() {
      const vm = this;

      return {
        get() {
          return vm.$store.dispatch(ACTION_GET_SMS_CODE, vm.fields.telephone);
        },
        again() {
          this.restart();

          // eslint-disable-next-line
          return this.get().then(response => {
            vm.response.code = response.code;
          });
        },
        countdown() {
          vm.timer.value -= 1;

          if (vm.timer.value === 0) {
            vm.code().stop();
          }
        },
        start() {
          vm.timer.value = timerCount;
          vm.timer.ref = setInterval(this.countdown, 1000);
        },
        stop() {
          clearInterval(vm.timer.ref);
        },
        restart() {
          this.stop();
          this.start();
        },
      };
    },
  },
  destroyed() {
    this.code().stop();
  },
};

</script>

<style lang="less" scoped>
.column__content {
  .text.use-phone {
    margin: 1rem 0;
  }

  .max-height {
    max-height: 100px;
  }
}

.social-enter,
.social-leave-to {
  max-height: 0;
  opacity: 0;
  transition: max-height ease .3s, opacity ease .3s;
}

.social-enter-active,
.social-leave-active {
  overflow: hidden;
}

.social-leave,
.social-enter-to {
  max-height: 200px;
  opacity: 1;
  transition: max-height ease .3s, opacity ease .3s;
}

.code-enter,
.code-leave-to {
  max-height: 0;
  opacity: 0;
  margin-bottom: 0;
  transition: max-height ease .3s, opacity ease .3s, margin-bottom ease .3s;
}

.code-enter-active,
.code-leave-active {
  overflow: hidden;
}

.code-leave,
.code-enter-to {
  max-height: 90px;
  opacity: 1;
  margin-bottom: 1rem;
  transition: max-height ease .3s, opacity ease .3s, margin-bottom ease .3s;
}

</style>
